@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: white;
    --secondary-color: rgb(221, 196, 139);
    --black-color: black;
    --white-color: white;
    --gray-color: #c6c6c6;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.3rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.footer__aey-link {
  color: #ffffffa1;
    cursor: pointer;
    z-index: 2;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
}

.footer__aey-link:hover {
  color: #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}

.section__headline {
  display: none;
}
@media screen and (min-width: 768px) {
  .section__headline {
      display: flex;
      color: white;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 0;
      z-index: 2;
  }
}
