.main {
    /* background: url('/marketer-studios-logo.png');
    background-repeat: repeat-y;
    background-position: center; */
    height: 100vh;
    width: 100%;
}
 .body {
        background: black;
}
.header {
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .body {
        display: flex;
        justify-self: center;
        background: black;
        width: 756px;
    }
    .header {
        z-index: 1;
    }
}
